body {
    /* padding: 50px; */
}

@keyframes example {
    from {margin-left: 0px; margin-right: 0px;}
    to {margin-left: 400px; margin-right: 400px;}
}

.Shops {
    /* animation-name: example;
    animation-duration: 4s; */
}

.EvilHouse {
    /* filter: hue-rotate(50deg); */
}

.Protagonist {
    transform: scaleX(-1);
    position: relative;
    top: 135px;
    /* left: 7vw */
}

.Enemy {
    position: relative;
    top: 130px;
    /* left: 7vw */
}